
/*header*/
.negro {
 background-color: #494046;
 height: 100px;

}

.gent {
	font-size: 42px;
	margin-top: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
}

li {
	display: inline-block;
	padding: 10px;
	font-family: 'Slabo 27px', serif;
}

a {
	text-decoration: none;
}

.white{
	color: white;	
}

.mar-to {
	margin-top: 20px;
}

.gent {
	font-family: monospace;
	font-size: 40px;
	color: white;
	margin-top: 20px;
	margin-left: 70px;
}
/* Primera Seccion*/
.bg-w {
	background-color: white;
	width: 1090px;
	height: 2100px;
	margin-left: 150px;
	border-style: outset;
	margin-top: -2px;
}
.primage { 
	width: 650px;
	height: 450px;
	padding: 40px;
	margin-left: 10px;
}
h2 {
	margin-top: 40px;
	font-family: 'Slabo 27px', serif
	font-size: 25px;
	margin-bottom: 20px;
}
.botona { 
	margin-top: 30px;
	border-radius: 30px;
	border:none;
	width: 90px;
	height: 30px;
	background-color: gray;
	color: lightgray;
	font-size:11px;
	font-family: consolas;
}
.tipo {
	font-family: monospace;
	margin-bottom: 30px;
	margin-right: 80px;
}

/*Segundaseccion*/ 
h3 {
	font-family: consolas;
	font-size: 30px;
	margin-left: 50px;
	margin-top: 45px;
}
.segundo {
	color: black;
	font-family: consolas;	
	font-size: 12px;
}

.s {
	margin-left: 50px;
}
.sec {
	border:dashed 1px lightgray;
}
.fotoa {
	width:450px;
	height: 210px;
	margin-top: 30px;
}
.uno {
	font-family: consolas;
	color: gray;
	margin-top: 12px;
	margin-bottom: 12px;
}
.dos {
	font-size: 13px;
}
.d {
	margin-bottom: 75px;
}
.botonb {
	margin-top: 30px;
	border-radius: 30px;
	border:none;
	width: 100px;
	height: 30px;
	background-color: gray;
	color: lightgray;
	font-size:11px;
	font-family: consolas;
	margin-left: 600px;	
	margin-bottom:65px;
}
.tuit {
	 margin-top: 30px;
	 width: 80px;
	 height: 80px;
	 margin-left: 40px;
}

.botonc {
	border-radius: 10px;
	width: 70px;
	height: 20px;
	color: lightgray;
	background-color: gray;
	border:none;
	margin-bottom: 40px;
}

.pa {
	margin-top: 35px;
	font-family: 'Slabo 27px', serif;
	font-size: 30px;
}

.rosa {
	color:#E23D80;
}

/*Footer*/

.tam { 
	height: 400px;

}
.blanco {
	color: lightgray;
}
.img {
	border-radius: 50px;
	width: 30px;
	height: 30px;
	padding: 2px;
	border:dashed 1px white;
	margin-top: 30px;
	
}

.cer {
	color:#9E789D;
	padding: 5px;
}



.gente {
	font-size: 30px;
	margin-left: 170px;
	margin-bottom: 0px;
}

.top {
	margin-top: 20px;
	font-family: consolas;
	font-size: 15px;
}
.botond {
	width: 200px;
	height: 35px;
	border-radius: 5px;
	background-color:#332B2E;
	color:white;
	border-style: inset;
	border:transparent 1px;
	
}
.left {
	margin-left: 170px;

}

.top {
	margin-top: -60px;
}

.mov {
	margin-left: 180px;
}
